@charset "UTF-8";
/*
até 768px
tablet: 768 - 992
desktop: 992 - 1200
grandes telas: 1200 pra cima
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #c77304, #fbd03b );
    }

    #login{
        width: 90vw;
    }

    #login > #imagem{
        float: left;
        height: 100vh;
        width: 30%;
    }

    #login > #formulario{
        float: right;
        width: 65%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #c77304, #fbd03b );
    }
    
    #login{
        width: 990px;
    }

    #login > #imagem{
        float: left;
        height: 100vh;
        width: 50%;
    }

    #login > #formulario{
        float: right;
        width: 50%;
    }
}